* {
  box-sizing: border-box;
}

:root {
  --nav-bar-height: 65px;
  --standard-space: 8px;
  --muted-font-color: #bbb;
}

.top-bar {
  display: grid;
  grid-template-columns: 1fr 740px 1fr;
  grid-template-rows: var(--nav-bar-height), calc(3 * var(--standard-space));
  border-bottom: #ddd solid 1px;
}

.top-bar-left {
  grid-column: 1;
  grid-row: 1;
}

.top-bar .logo {
  height: var(--nav-bar-height);
  float: right;
  padding-top: calc(var(--nav-bar-height) * 0.1);
  padding-bottom: calc(var(--nav-bar-height) * 0.1);
  margin-right: calc(2 * var(--standard-space));
  margin-bottom: 0;
}

.top-bar-middle {
  grid-column: 2;
  grid-row: 1;
}

.top-bar-middle .site-title {
  font-family: 'Comfortaa', cursive;
  margin-bottom: 0;
}

.top-bar-right {
  grid-column: 3;
  grid-row: 1;
}

.nav-icon {
  display: inline-block;
  width: calc(3 * var(--standard-space));
  height: calc(3 * var(--standard-space));
  margin: 0;
  padding-top: var(--standard-space);
  text-decoration: none;
  box-shadow: none;
}

.nav-icon > img {
  margin: 0;
  padding: 0;
}

.top-bar-menu {
  grid-column: 2;
  grid-row: 1;
  margin-right: 16px;
  height: calc(3 * var(--standard-space));
  text-align: right;
}

.top-bar-menu > a {
  text-transform: uppercase;
  font-size: smaller;
  color: var(--muted-font-color);
  text-decoration: none;
  box-shadow: none;
  font-style: italic;
}


.index-page, .article-page {
  display: grid;
  grid-template-columns: 1fr 740px 1fr;
}

article {
  grid-column: 2;
}

.post-datetime {
  font-style: italic;
  color: #888;
  text-align:  right;
  font-size: small;
}

header {
  margin-bottom: 1rem;
}

header h1 {
  margin-bottom: 0.5rem;
}

header .post-datetime {
  text-align: left;
  margin: 0;
  padding: 0;
}



.license {
  display: grid;
  grid-template-columns: 1fr 740px 1fr;
  font-size: 0.8em;
  font-style: italic;
}

.license > * {
  grid-column: 2;
}

.license a {
  line-height: 31px;
}

.license img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}

.license .license-text {
  display: inline-block;
  vertical-align: top;
}
