* {
  box-sizing: border-box;
}

:root {
  --nav-bar-height: 65px;
  --standard-space: 8px;
}

.top-bar {
  display: grid;
  grid-template-columns: 1fr 740px 1fr;
  grid-auto-rows: minmax(var(--nav-bar-height), var(--nav-bar-height));
  border-bottom: #ddd solid 1px;
}

.top-bar .logo {
  height: var(--nav-bar-height);
  float: right;
  padding-top: calc(var(--nav-bar-height) * 0.1);
  padding-bottom: calc(var(--nav-bar-height) * 0.1);
  margin-right: calc(2 * var(--standard-space));
}

.top-bar-middle {
  grid-column: 2;
}

.top-bar-middle .site-title {
  font-family: 'Comfortaa', cursive;
}

.nav-icon {
  display: inline-block;
  width: calc(3 * var(--standard-space));
  height: calc(3 * var(--standard-space));
  margin: 0;
  padding-top: calc(2 * var(--standard-space));
  text-decoration: none;
  color: #0000;
}

.nav-icon > img {
  margin: 0;
  padding: 0;
}

.index-page, .article-page {
  display: grid;
  grid-template-columns: 1fr 740px 1fr;
}

article {
  grid-column: 2;
}

.post-datetime {
  font-style: italic;
  color: #888;
  text-align:  right;
  font-size: small;
}

header {
  margin-bottom: 1rem;
}

header h1 {
  margin-bottom: 0.5rem;
}

header .post-datetime {
  text-align: left;
  margin: 0;
  padding: 0;
}



.license {
  display: grid;
  grid-template-columns: 1fr 740px 1fr;
  font-size: 0.8em;
  font-style: italic;
}

.license > * {
  grid-column: 2;
}

.license a {
  line-height: 31px;
}

.license img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}

.license .license-text {
  display: inline-block;
  vertical-align: top;
}
